
body{
	display:grid;
	grid-template-rows: max-content max-content max-content;
	margin: 0px;
	border: 0px;
}

.page1{
	background-color: #1B1734;
    	height: 100%;
    	z-index: -3;
}

.page2{
	background-color: #b8d8ba;
    	height: 100%;
    	z-index: -3;
}
.page3{
	background-color: #71a9f7;
    	height: 100%;
    	z-index: -3;
}

#background {
    display: grid;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: auto;
    justify-content: center;
}

#topBar {
    margin: 2em;
}

.midConainer {
    display: grid;
    margin: 1em 3em 0;
    justify-items: center;
}

#introText {
    	display: flex;
    	flex-wrap: wrap;
}

#logo {
    	width: 5rem;
    	height: auto;
    	opacity: 1;
    	transition: opacity .15s ease-out;
}

h1 {
    	font-size: 5rem;
	font-family: 'Inconsolata', monospace;
	color: #fc9f5b;

}


h1.restOfText {
    	margin-left: 0.3em;
}
