
body{
	background-color: #1B1734;
	display:grid;
	grid-template-rows: max-content max-content max-content;
	margin: 0px;
	border: 0px;
}

#background {
    	display: grid;
    	position: absolute;
    	z-index: -1;
    	width: 100%;
    	height: auto;
    	justify-content: center;
    	align-items: center;
    	margin-top: 30%;
}

div#introText {
    	display: flex;
    	flex-wrap: wrap;
}

img#logo {
    	width: 10vh;
    	height: auto;
    	opacity: 1;
    	transition: opacity .15s ease-out;
}

h1 {
    	font-size: 5vh;
	color: white;

}


h1.restOfText {
    	margin-left: 0.3em;
}
