
body{
	background-color: #1B1734;
	display:grid;
	grid-template-rows: max-content max-content max-content;
	justify-items: start;
	margin: 4em;
}

div#introText {
    	display: flex;
    	flex-wrap: wrap;
}

img#logo {
    	width: 10vh;
    	height: auto;
    	opacity: 1;
    	transition: opacity .15s ease-out;
}

h1 {
    	font-size: 5vh;
}

.text,.restOfText,#photography,#coding{
	color: white;
	padding: inherit;
}

h1.restOfText {
    	margin-left: 0.3em;
}
