*{
	margin: 0;
	padding: 0;
}
@media (max-width: 780px) {
.images {
	display: none;	
}
body{
  background-color: #1B1734 ;
}

.text,.restOfText,#photography,#coding{
  color: white;
  padding: 0.2em;
}
